Test_Task_2_Arhipov.sln
/Debug
/Test_Task_2_Arhipov/Debug
Test_Task_2_Arhipov/Test_Files
Test_Task_2_Arhipov/Test_Task_2_Arhipov.cpp
Test_Task_2_Arhipov/Test_Task_2_Arhipov.vcxproj
Test_Task_2_Arhipov/Test_Task_2_Arhipov.vcxproj.filters
Test_Task_2_Arhipov/Test_Task_2_Arhipov.vcxproj.user